
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create New Quiz - Labadi.ml</title>
    <link rel="icon" type="image/png" href="@Url.Content("~/resources/images/icons/favicon.ico")" />

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/home.css" rel="stylesheet" type="text/css">
    <link href="~/Content/editQuiz.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/myQuiz.css" rel="stylesheet" type="text/css">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link rel="stylesheet" href="~/resources/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Cabin+Condensed|Lalezar|Open+Sans+Condensed:300|Righteous|Thasadith" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan" rel="stylesheet">

    <script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>
        .imgContainer {
            max-height: 300px;
            overflow: hidden;
        }

        .butt-add-question {
            padding: 0 5px;
            width: 200px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            background-color: coral;
            border-radius: 5px;
            color: white !important;
            transition: all 0.3s;
            margin-top: 50px;
            margin-left: 20%;
            font-weight: bolder;
        }

            .butt-add-question:hover {
                line-height: 50px;
                transform: scale(1.3);
                font-size: 32px;
                font-weight: bolder;
            }

        .a-add-question:hover {
            text-decoration: none;
            color: white;
        }

        .img-quiz {
            border-radius: 10px;
            box-shadow: gainsboro 5px 2px;
        }
    </style>
</head>
<body>



    <nav class="main-menu navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>

                </button>

                @Html.ActionLink("Labadi.ml", "Home", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li class="hidden">

                    </li>
                    <li class="page-scroll">

                    </li>
                    <li class="page-scroll">
                        @Html.ActionLink("OK. Save!", "SaveQuiz", "CreateQuiz", new { area = "" }, new { @class = "" })
                    </li>
                    <li class="page-scroll">
                        @Html.ActionLink("Cancel", "CancelCreatingQuiz", "CreateQuiz", new { area = "" }, new { @class = "" })

                    </li>

                </ul>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>



    <div class="row text-center">
        <div class="create-quiz-title-page">Title: @Session["Title"]</div>
    </div>

    <div class="container">
        <div class="row text-center">
            <div class="col-md-6">
                <img class="img-responsive img-quiz" src="~/resources/images/QuizImages/@Session["Image"]" />
            </div>
            <div class="col-md-6 ">
                <div class="butt-add-question">
                    <a class="a-add-question" href="@Url.Action("QuestionDetails", "CreateQuiz")" >Add Question</a>
                </div>
               
            </div>

        </div>
    </div>

<div class="col-md-12" style="height: 50px;"></div>

    <div class="container">

        @{
            if (Session["QuestionList"] != null)
            {
                var count = 0;
                foreach (var item in (List<Project_Try1.Models.Question>)Session["QuestionList"])
                {
                    count++;
                    @*<div class="queInQuiz">
                        <span>Question @count : @item.Content</span><br />
                    </div>*@
                    <div class="row">

                        <div class="col-md-4 col-xs-12 img-edit-quiz">
                            <img src="~/resources/images/QuestionImages/@item.Image" />
                        </div>

                        <div class="col-md-6 col-xs-12 question-title-edit-quiz">
                            <div class="content">@item.Content</div>
                            <div style="color: blueviolet">A. @item.AnsA</div>
                            <div style="color: darkcyan">B. @item.AnsB</div>
                            <div style="color: deeppink">C. @item.AnsC</div>
                            <div style="color: goldenrod">D. @item.AnsD</div>
                            <div style="color: black">=> Answer: @item.Answer</div>
                        </div>
                        <div class="col-md-2 col-xs-12">
                            <span class="button-format">Time: @item.Time s</span><br />
                            

                            @using (Html.BeginForm("DeleteQuestion", "CreateQuiz", FormMethod.Post, new { @id = "frm_delete_" + @item.ID }))
                            {
                                <input name="queID" type="hidden" value="@item.ID" /><br />
                                @*<input style="background-color: rgb(249, 80, 2); color: white" class="button-format" id="delete-button" type="button" value="Delete" />*@

                                <button style="background-color: rgb(249, 80, 2); color: white" class="button-format" data-formid="@item.ID" data-toggle="modal" type="submit" data-target="#confirm-delete" value="">
                                    Delete
                                </button>
                            }                           
                        </div>
                    </div>
                    <hr />
                }
            }
        }


       

    </div>





</body>
</html>
