@model Project_Try1.Models.Quiz

<link href="~/Content/quizDetails.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Baloo+Chettan" rel="stylesheet">

@{
    ViewBag.Title = "View";
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home - Labadi.ml -  </title>
    <link rel="icon" type="image/png" href="@Url.Content("~/resources/images/icons/favicon.ico")" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/home.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/myquiz.css" rel="stylesheet" type="text/css" />

    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Open+Sans+Condensed:300|Righteous" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan" rel="stylesheet">


    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/lazyLoading.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <style>
        .main-frame {
            border-radius: 10px;
            width: 60%;
            margin: auto;
            background-image: linear-gradient(to bottom right, rgb(11, 63, 234), rgb(17, 157, 196));
            box-shadow: 5px 5px lightskyblue;
            padding: 50px 0;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12 overview-quiz ">
                <div class="col-md-6">
                    <img src="~/resources/images/QuizImages/@Model.Image" />
                </div>
            </div>
        </div>
    </div>


    <div id="right">
        <h3>Questions</h3>
        <div id="questions">

            @{
                int index = 0;
            }

            <input type="hidden" id="content" />
            <input type="hidden" id="ans1" />
            <input type="hidden" id="ans2" />
            <input type="hidden" id="ans3" />
            <input type="hidden" id="ans4" />
            <input type="hidden" id="ans" />
            <input type="hidden" id="image" />
            <input type="hidden" id="time" />

            @foreach (var item in Model.QuestionList) {

                index++;

                string contentID = "con" + index;
                string ans1ID = "ans1" + index;
                string ans2ID = "ans2" + index;
                string ans3ID = "ans3" + index;
                string ans4ID = "ans4" + index;
                string ansID = "rightAns" + index;
                string imageID = "image" + index;
                string timeID = "time" + index;


                <div class="aQue">
                    <div class="content">

                        <h3 id="@contentID">@item.Content</h3>
                        A. <span id="@ans1ID">@item.AnsA</span><br />
                        B. <span id="@ans2ID">@item.AnsB</span><br />
                        C. <span id="@ans3ID">@item.AnsC</span><br />
                        D. <span id="@ans4ID">@item.AnsD</span><br />
                        Answer: <span id="@ansID">@item.Answer</span>
                        Time: <span id="@timeID">@item.Time</span>

                        <br />
                        <input type="submit" value="SEND QUESTION" class="send" onclick="setValues(@index)" />

                    </div>
                    <div class="queImg">    
                        <img id="@imageID" src="~/resources/images/QuestionImages/@item.Image" />
                    </div>
                </div>
            }

        </div>
    </div>
    <script>
        function setValues(index) {
            $("#content").val($("#con" + index).html());
            $("#ans1").val($("#ans1" + index).html());
            $("#ans2").val($("#ans2" + index).html());
            $("#ans3").val($("#ans3" + index).html());
            $("#ans4").val($("#ans4" + index).html());
            $("#time").val($("#time" + index).html());
            $("#ans").val($("#rightAns" + index).html());
            $("#image").val($("#image" + index).attr('src'));

            var main = $.connection.mainHub;    
            $.connection.hub.start().done(function () {
                main.server.sendQuestionsToClient(
                    $("#content").val(), $("#ans1").val(), $("#ans2").val(),
                    $("#ans3").val(), $("#ans4").val(), $("#ans").val(), $("#image").val(), $('#time').val()) ;
            });
        }

        
    </script>
</body>
</html>


