@model Project_Try1.Models.Quiz

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
<title>Edit Quiz</title>
<link rel="icon" type="image/png" href="@Url.Content("~/resources/images/icons/favicon.ico")" />

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/home.css" rel="stylesheet" type="text/css">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link rel="stylesheet" href="~/resources/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Cabin+Condensed|Lalezar|Open+Sans+Condensed:300|Righteous|Thasadith" rel="stylesheet">

    <body>
        <script src="~/resources/vendor/jquery/jquery-3.2.1.min.js"></script>
        <script src="~/resources/vendor/tilt/tilt.jquery.min.js"></script>

        <script type="text/javascript">
            $(function () {
                $("input:file").change(function () {
                    var fileName = $(this).val();
                    $(".label-file").html(fileName);
                });
            });
        </script>
        <script>
            function checkRequired(idTag, idErrTag, errString) {
                var result = true;

                if ($('#' + idTag).val() == "") {
                    $('#' + idErrTag).html("Oops ! You haven't " + errString + '  !');
                    $('#' + idErrTag).css('color', 'red');
                    $('html, body').animate({ scrollTop: 0 });
                    result = false;
                }else if ($('#' + idTag).val().length > 250) {
                    $('#' + idErrTag).html( 'This title was too long !');
                    $('#' + idErrTag).css('color', 'red');
                    result = false;
                } else {
                    $('#' + idErrTag).html('');
                }
                return result;
            }
            function submitFrm() {
                var result = true;
                if (!checkRequired('TxtTitleQuiz', 'err-input', 'Title'))
                    return;
                if (!checkRequired('TxtDescQuiz', 'err-input', 'filled Description of this quiz'))
                    return;
                if (result) {
                    $('#edit-quiz-title-form').submit();
                }
            }



        </script>
        <nav class="main-menu navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>

                    </button>

                    @Html.ActionLink("Labadi.ml", "Home", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">

                        <li class="hidden">

                        </li>
                        <li class="page-scroll">
              
                        </li>
                        <li class="page-scroll">
                            @Html.ActionLink("Cancel", "CancelEditDes", "EditQuiz",
                                new {area = ""}, new {@class = ""})
                        </li>
                        <li class="page-scroll">
                            @Html.ActionLink("Save", "SaveQuiz", "EditQuiz",
                                new {area = ""}, new {@class = ""})
                        </li>

                    </ul>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <div class="container">
            <div class="row text-center">
                <div class="create-quiz-title-page">Edit quiz title</div>
                <font id="err-input"></font>
            </div>
        </div>
        <div style="margin: 0 10%;" class="row text-center row-create-quiz">

            <form id="edit-quiz-title-form" action="~/EditQuiz/SaveDes" method="post" enctype="multipart/form-data">
                <input type="hidden" name="ID" value="@Model.ID" />
                <div class="row line-in-form">
                    <div class="col-md-5 col-xs-12 text-right text-title ">Title : </div>
                    <div class="col-md-7 col-xs-12 text-left"> <input id="TxtTitleQuiz" class="form-control" name="TxtTitle" value="@Model.Title" /></div>
                </div>
                <div class="row line-in-form">
                    <div class="col-md-5 col-xs-12 text-right text-title ">Description : </div>
                    <div class="col-md-7 col-xs-12 text-left"> <input id="TxtDescQuiz" class="form-control" name="TxtDescQuiz" value="@Model.Desp" /></div>
                </div>

                <div class="row line-in-form">
                    <div class="col-md-5 col-xs-12 text-right text-title">Cover image : </div>
                    <div class="col-md-7 col-xs-12 text-left form-group">
                        <label for="file-upload" class="custom-file-upload">
                            <i style="font-size: 30px" class="fa fa-file-image-o" aria-hidden="true"></i>
                        </label>
                        <input id="file-upload" type="file" name="file" value="default.png" />
                        <span style="padding-left: 20px" class="label-file"></span>
                    </div>

                </div>


                <input class="btn-success" type="button" onclick="submitFrm();" value="SAVE!" />
            </form>
        </div>

    </body>
</html>
