<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/home.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Open+Sans+Condensed:300|Righteous" rel="stylesheet">


    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <style>
    </style>
</head>
<body>
    <nav class="main-menu navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>

                </button>

                @Html.ActionLink("Labadi.ml", "Home", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li class="hidden">

                    </li>
                    <li class="page-scroll">
                        @if (Session["creator"] == null) {                           
                           @Html.ActionLink("Login", "index", "Login", new { area = "" }, new { @class = "myquiz " });
                        }
                    </li>
                    <li class="page-scroll">
                        @Html.ActionLink("My Library", "index", "MyQuiz", new { area = "" }, new { @class = "myquiz " })
                    </li>
                    <li class="page-scroll">
                        @Html.ActionLink("Create my Quiz", "Index", "CreateQuiz", new { area = "" }, new { @class = "creat-quiz " })
                    </li>
                    <li class="page-scroll">
                        @if (Session["creator"] != null) {
                            @Html.ActionLink("Logout", "Logout", "Home", new { area = "" }, new { @class = "" })
                        }
                        </li>
                </ul>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <h2 id="pageHeader" class="create-quiz-title-page">Top Quizzes in the World</h2>
    <div class="container">
        <div class="row">
            @foreach (var item in ViewBag.QuizBank) {
                <div class="quiz-home col-xs-6 col-sm-3 col-md-3 col-lg-3">

                    <div class="thumbnail">
                        <div class="caption text-center">

                            <img src="~/resources/images/QuizImages/@item.Image" class="img" />                            
                            <h3 class="quiz-title">@item.Title</h3>
                                                        
                            <p>
                                <span>Creator: <font color="gray">@item.Creator</font></span><br/>
                                <span>Plays: <font color="red">@item.Plays</font></span><br/>
                                <a href="#" class="btn btn-danger">Play now</a>                                
                            </p>
                            
                        </div>

                    </div>
                </div>

            }

        </div>


    </div>
</body>
</html>
