<!DOCTYPE html>
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home - Labadi.ml -  </title>
    <link rel="icon" type="image/png" href="@Url.Content("~/resources/images/icons/favicon.ico")" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/home.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Open+Sans+Condensed:300|Righteous" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan" rel="stylesheet">


    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/lazyLoading.js"></script>
    <style>
    </style>
</head>
<body>    

    <nav class="main-menu navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>

                </button>

                @Html.ActionLink("Labadi.ml", "Home", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li class="page-scroll">
                        @Html.ActionLink("Play Game", "Join", "JoinQuiz")
                    </li>
                    <li class="page-scroll">
                        @if (Session["creator"] == null)
                        {
                            @Html.ActionLink("Login", "index", "Login", new { area = "" }, new { @class = "myquiz " })
                            ;
                        }
                    </li>
                    <li class="page-scroll">
                        @Html.ActionLink("My Library", "index", "MyQuiz", new { area = "" }, new { @class = "myquiz " })
                    </li>
                    <li class="page-scroll">
                        @Html.ActionLink("Create my Quiz", "Index", "CreateQuiz", new { area = "" }, new { @class = "creat-quiz " })
                    </li>
                    <li class="page-scroll">
                        @if (Session["creator"] != null)
                        {
                            @Html.ActionLink("Logout", "Logout", "Home", new { area = "" }, new { @class = "" })
                        }
                    </li>
                </ul>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <h2 id="pageHeader" class="create-quiz-title-page">Top Quizzes in the World</h2>
    <div class="container">
        <div class="row quizList">
            @Html.Partial("DisplayQuiz", ViewBag.QuizBank as List<Project_Try1.Models.Quiz>)
        </div>
    </div>
    <script type="text/javascript">
    var url = '@Url.RouteUrl("QuizzesList")';

    $(window).scroll(scrollHandler);
    </script>


</body>
</html>
